/* @use '../../styles/vars';

.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 1px 4px #3FAFAC;
  margin: 50px auto;
  background: vars.$Clear;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: rgb(248, 248, 248);
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #ffffff;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #797979;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fb9a2c;
  font-size: 1.5em;
}

.product-details p {
  height: 5em;
  overflow: auto;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: rgb(255, 255, 255);
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #000000;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
} */


@use '../../styles/vars';

.product-card {
  width: 20em;
  margin: 1em auto;
  // position: relative;
  box-shadow: 0 1px 4px #3FAFAC;
  // margin: 50px auto;
  background: vars.$Clear;
}

.badge {
  // position: relative;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.8);
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  background: vars.$Secondary;
  color: rgb(248, 248, 248);
  padding: 3px 13px;
}

.product-tumb {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.8)
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 25px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.product-details p {
  font-weight: 500;
  // display: block;
  // margin-bottom: 18px;
  text-transform: uppercase;
  color: #797979;
  text-decoration: none;
  transition: 0.3s;
  height: 4.5em;
  overflow: auto;
  font-size: 15px;
  line-height: 22px;
  // margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: vars.$Secondary;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #000000;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: vars.$Secondary;
}
// MODAL

/* .modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  // width: 100%;
  // height: 150vh;
  background: rgba(0, 0, 0, 0.7);
  // display: flex;
}
.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}
.product-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-modal{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 50%;
  max-width: 25%;
  transition: opacity 0.4s ease-in-out;
  // background: vars.$Clear;
}
.badge-modal{
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: rgb(248, 248, 248);
  padding: 3px 10px;
}
.product-tumb-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  padding: 10px;
  background: #ffffff;
}
.modal-picture{
  max-width: 100%;
  max-height: 100%;
}
.product-details-modal{
  padding: 25px;
  background: vars.$Clear;
}
.product-catagory-modal{
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}
.product-details-modal p {
  font-weight: 500;
  // display: block;
  // margin-bottom: 18px;
  text-transform: uppercase;
  // color: #797979;
  text-decoration: none;
  transition: 0.3s;
  height: 4.5em;
  // overflow: auto;
  font-size: 15px;
  line-height: 22px;
  // margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.product-price-modal{
  font-size: 18px;
  color: vars.$Secondary;
  font-weight: 600;
}
.product-links-modal {
  text-align: right;
}
.product-links-modal a:hover {
  color: vars.$Secondary;
} */





// MODAL

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
}
.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}
.product-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-modal{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 50%;
  max-width: 25%;
  transition: opacity 0.4s ease-in-out;
  // background: vars.$Clear;
}
.badge-modal{
/*   left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: rgb(248, 248, 248);
  padding: 3px 10px; */
  
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.8);
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  background: vars.$Secondary;
  color: rgb(248, 248, 248);
  padding: 3px 13px;
}
.product-tumb-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.8)
}
.modal-picture{
  max-width: 100%;
  max-height: 100%;
}
.product-details-modal{
  padding: 25px;
  background: vars.$Clear;
}
.product-catagory-modal{
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}
.product-details-modal p {
  font-weight: 500;
  // display: block;
  // margin-bottom: 18px;
  text-transform: uppercase;
  // color: #797979;
  text-decoration: none;
  transition: 0.3s;
  height: 4.5em;
  // overflow: auto;
  font-size: 15px;
  line-height: 22px;
  // margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.product-price-modal{
  font-size: 18px;
  color: vars.$Secondary;
  font-weight: 600;
}
.product-links-modal {
  text-align: right;
}
.product-links-modal a:hover {
  color: vars.$Secondary;
}
