@use 'src/styles/vars';
.terms{
    margin: 1em ;
    text-align: justify;
    height: 71.1vh;
}
// h1{
//     margin: 0.5em;
//     font-weight: vars.$Dark ;
// }
// p {
//     margin: 1em;
// }
// span {
//     font-weight: vars.$Dark ;
// }

