@use 'src/styles/vars';

.contact {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 4.5em auto ;
    background: black;
    color: #fff;
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    background-color: vars.$Linear-gradient;
   
&-title{
    padding: 1em 0;
    text-align: center;
}

    &-leg-identite,
    &-leg-address,
    &-leg-business,
    &-leg-security {
        font-size: large;
        font-weight: bold;
        color: vars.$Primary;
        // margin: 0 auto;
    }
    
    &-sec-identite,
    &-sec-address,
    &-sec-business,
    &-sec-security{
        border: 1px dashed vars.$Primary;
        padding: 10px;
        margin: 10px auto;
        border-radius: 15px;
        width: 80%;
        // align-items: center;
    }

    &-form-input {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 1.8em;
    color: #fff;
    font-size: 0.9em;
    }

    &-label-form {
        margin-right: 0.5em;
    }
}

fieldset>div {
    padding: 0.3em;
}
div>label {
    width: 38%;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-size: small;
}
