@use '../../../styles/vars';

body {
  margin-top: 1em;
}
.wrap {
  background: rgba(0,0,0,0.5) url(../../../assets/Images/map.PNG) no-repeat;
  background-position: center;
  background-attachment: fixed;
  fill: #ffffff;
  background-size: cover;
  min-height: 50vh;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 15%;
  top: 322px;
  opacity: 1;
}

.illustrationPicture {
  max-width: 20vw;
  object-fit: cover;
}


/*.content {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.mapSection {
display:flex;
margin: 2em 0;
flex-direction: column;
align-items: center;
}

.contentInput {
  margin: 0 auto 1em;
  width: 25em;
  background: fff;
  padding: 0.5em;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.textLabel {
  margin-left: 1em;
}

.searchOnMap {
  width: 20em;
  margin: 1em 0;
}

.mapPict {
display: block;
padding: 0 7em;
object-fit: cover;
width: 100%;
height: 20em;
}

.customers {
  display: flex;
  height: 20em;
  padding: 2em 2em;
}



.customerText {
  display: block;
  text-align: center;
  margin: 2em 2em;
}

.sectionLandingPageText {
  margin: 1em 0;
  padding: 0 5em;
}

.titleCustomers {
  font-size: 2em;
  font-weight: 300;
}

.retailers {
  display: flex;
  height: 20em;
  padding: 2em 2em;
  background: linear-gradient(to right top, #3fafac, #41ada5, #44ab9e, #47a897, #4ba690);
}

.retailerPict {
  max-width: 20vw;
  object-fit: cover;
}

.retailerText {
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 2em 2em;
}

.titleRetailers {
  font-size: 2em;
  font-weight: 300;
}*/

