@use '../../../styles/vars';


.container {
  display: flex;
  flex-direction: column;
  
}

.mapSection {
  background-image: url(../../../assets/Images/map.PNG);
  background-size: cover;
  background-position: center;
  min-height: 30vh;
}



.custommers {
}

.content {
  margin-top: 10em;
}

.customerPict {
  max-width: 20vw;
  object-fit: cover;
}

.retailerPict {
  max-width: 20vw;
  object-fit: cover;
}

.wave {
  position: absolute;
  width: 100%;
  bottom: -140px;
  color: #fff;
  opacity: 1;
}