@use 'src/styles/vars';


.header {
  font-family: 'Quicksand', 'Inter','Roboto', sans-serif;
  display: flex ;
  justify-content: space-between;
  text-align: center;
  background: vars.$Clear;
  color: vars.$Dark;
  height: 7em;
  width: 100%;
  font-size: 1.2em;
  padding: 1em;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.6);

    &-nav {
      display: flex;
      width: 35%;
      justify-content:center;
      align-items: center;
      margin-top: .4em;
    }

    &-helloUser {
      font-weight: 500;
      margin: 0 1em 0 0.5em;
    }
}

@media (min-width: 1200px) {
  .header {
    &-nav {
      // width: fit-content;
      padding: 0 4em;
      justify-content:space-around;
    }
  }
}

@media (max-width: 1200px) and (min-width: 800px) {
  .header {
    &-nav {
      flex-wrap: wrap;
      // align-items: center;
      justify-content: space-around;
    }
  }
}

@media (max-width: 800px) {
  .header {
    // max-width: 90vw;
    // margin: 1em auto;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    height: fit-content;

    &-nav {
      margin-top: .4em;
      margin-right: .4em;
      flex-direction: column;
      justify-content: space-around;
      height: 80%;
      width: fit-content;
      flex-wrap: wrap;
      }
    }
  }

