@use 'src/styles/vars';

.searchSection {
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 4em;
  background: vars.$Primary;
  &__searchBar {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
    & label {
      display: none;
    }
    &__container {
      margin-left: 1em;
      width: 30em;
      font-size: 1.6em;
    }
  }
  &__searchOnMap {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    &__buttonContainer {
      margin-left: 1em;
      width: 30em;
    }
  }
}

.tagsContainer {
  display: flex;
  background: vars.$Primary;
  &__tag {
    width: 8em;
    margin: 1em;
  }
}

.newsList {
  // background: rgba(54, 88, 107, 0.6);
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: space-around;
  height: 100%;
  // overflow: auto;
  &__item {
    padding: 1em;
    min-width: 20%;
    // box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.6);
  }
}
