@use 'src/styles/vars';

.searchSection {
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 4em;
  background: vars.$Primary;
  &__searchBar {
    display:flex;
    align-items: center;
    width: 25%;
    & label {
      display: none;
    }
    &__container {
      margin-left: 1em;
      width: 30em;
      font-size: 1.6em;
    }
  }
  &__searchOnMap {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    &__buttonContainer {
      margin-left: 1em;
      width: 30em;
    }
  }
}

.tagsContainer {
  display: flex;
  background: vars.$Primary;
  &__tag {
    width: 8em;
    margin: 1em;
  }
}

.newsList {
  background: rgba(54, 88, 107, 0.6);
  display: flex;
  align-items: center;
  height: 45em;
  overflow-x: auto;
  &__item {
    min-width: 30%;
  }
}
