@use '../../../../styles/vars';

.character {
  display: block;
/*   margin: 1em 1em; */
}
.contain{
  display: flex;
}

.illustrationPicture.customer {
  width: 80%;
  object-fit: cover;
  margin: 2em 2em;
}

.presentationTitle.customer {
  padding-bottom: 0.5em;
  font-size: 2em;
  font-weight: 400;
}

.presentationText.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3em;
}

.presentationBody.customer {
  font-size: 1.2em;
}

.contenWave {
  position: relative;
}

.wave-2 {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 0.3em;
  left: -0.1rem;
}


