@use 'src/styles/vars';

.spinner {
  width: 10em;
  height: 10em;
  background-color: vars.$Primary;
  margin: 2em auto;
  animation: rotateplane 1.5s infinite ease-in-out;
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
} 
