@use '../../../../styles/vars';

.mapSection{
  height: 58vh;
}
.wrap {
  position: relative;
  display: block;
}

.map-Picture {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

.wave-pic {
  width: 100%;
  height: 20%;
  object-fit: cover;
  position: relative;
  top: -10em;
}

