@use 'src/styles/vars';

.information-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
}
.avatar-profil {
    width: 35%;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-container {
  padding: 3em 0 1em 1em;
  width: 30em;
}

/* .profil-pic {
  width: 8em;
  border: solid 2px vars.$Primary ;
} */


@media (max-width: 600px) {
  .information-container {
    // width: 60%;
    margin: 1em;
  }
}
