@use 'src/styles/vars';
.title {
  margin-bottom: 0.2em ;
    &-h1 {
    font-family: 'Roboto', 'Quicksand', 'Inter', sans-serif;
    margin-bottom: 0.2em;
    transition: 0.5s;
    color: vars.$Dark;
  }
  &:hover {
    color: vars.$Dark;
    font-weight: bold;
  }
}



@media screen and (min-width: 1313px) {
  h1 {
    font-size: 2.8em;
  }
}
// max size 1313 px
@media screen and (max-width: 1312px) {
h1 {
    font-size: 2.5em;
  }
}
// max size 992px
@media screen and (max-width: 992px) {
h1 {
    font-size: 2em;
  }
}
// max size 688 px
@media screen and (max-width: 688px){
h1 {
    font-size: 1.5em;
  }
}
