// @use '../../../../styles/vars';
@use 'src/styles/vars';

.retailer {
  background: vars.$Secondary;
  color: #FFF;
  display: flex;
  height: 60vh;
  margin: 1em 0;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);

  &__presentationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3em;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.5em;

      &__presentationTitle {
        padding-bottom: 0.5em;
        font-size: 2em;
        font-weight: 400;
      }

      &__presentationBody {
        font-size: 1.2em;
      }
  }

  &__pictureCharacter {
    width: 60%;
    height: inherit;
    
    &__illustrationPicture {
      // max-width: 40vw;
      // margin: 2em 4em;
      height: inherit;
      object-fit: scale-down;
      padding: 4em;
    }
  }
}

@media (min-width: 1200px) {
  .retailer__pictureCharacter__illustrationPicture {
  //  max-width: 25vw;
  }
}

@media (max-width: 600px) {
  .retailer {
    height: 40vh;
    &__pictureCharacter__illustrationPicture {
      display: none;
    }
  }
}


