@use '../../../../styles/vars';


.character.retailer {
  background: vars.$Linear-gradient;
  color: #FFF;
  display: flex;
  height: 60vh;
}

.illustrationPicture.retailer {
  max-width: 20vw;
  margin: 2em 4em;
}

.presentationText.retailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3em;
  margin-top: auto;
  margin-bottom: auto;
}

.presentationTitle.retailer {
  padding-bottom: 0.5em;
  font-size: 2em;
  font-weight: 400;
}

.presentationBody.retailer {
  font-size: 1.2em;
}




