@use 'src/styles/vars';

.popup {
    position: fixed;
    width: 20%;
    height: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // background-color: rgba(0,0,0, 0.5);
    z-index: 2;

    &_message {
        text-align: center;
        margin-top: 1em;
        font-size: 4em;
        color: #fff;
        font-weight: 500;
    }

    &_inner{
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      border-radius: 20px;
      background: vars.$Primary;
      box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    }

    &_bouton_delete {
      // width: 100%;
      height: 1.5em;
      border:none;
      outline: none;
      background: vars.$Secondary;
      color: #fff;
      font-size: 1em;
      border-radius: 1em;
      cursor: pointer;
      // margin: 0.1em .5em;
      box-shadow: inset -2px -2px 8px rgb(0, 75, 119,1),
      inset -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      inset 2px 2px 8px rgba(0,0,0,0.15);
      white-space: nowrap;
      padding: 0.1em 0.5em;
      margin-bottom: 0.6em;
    }

    &_bouton_delete:hover{
      box-shadow: inset -2px -2px 8px rgb(0, 75, 119,1),
      inset -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      inset 2px 2px 8px rgba(0,0,0,0.15);
      background: vars.$Linear-gradient;
      color: vars.$Dark;
    }
  }

