@use 'src/styles/vars';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: vars.$Linear-gradient;
  height: 45em;
  &__loginbox {
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 1em;
    width: 25em;
    height: 35em;
    background: black;
    color: #fff;
    box-sizing: border-box;
    padding: 4em 2em;
    &__avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: 10em;
      left: calc(50% - 50px);
    }
    &__title {
      margin: 0;
      padding: 0 0 1em;
      text-align: center;
    }
  }
}


