@use 'src/styles/vars';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: vars.$Linear-gradient;
  height: 51em;
  &__loginbox {
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 1em;
    width: 25em;
    height: fit-content;
    background: black;
    color: #fff;
    box-sizing: border-box;
    padding: 4em 2em;
    // margin-bottom: 3em;
    font-size: 1.2em;
    &__avatar {
      width: 6em;
      height: 6em;
      border-radius: 50%;
      position: absolute;
      top: 8.5em;
      left: calc(50% - 3em);
    }
    &__title {
      padding: 0 0 1em;
      text-align: center;
    }
  }
}
.login__form-error {
  color: red;
  margin: -0.5em auto 0.2em;
  font-size: 0.8em;
}
.buttonDiv {
  margin: 1em 0;
}

.form__h2 {
  margin-bottom: 1em;
}


