// @use 'src/styles/vars';

$Background : #D7D9D8;
$Primary : #3FAFAC;
$Secondary : #36586B;
$Clear : #8FD9DA;
$Dark : #333333;
$Black : #222202;

$Linear-gradient: linear-gradient(to right top, #3FAFAC, #41ADA5, #44AB9E, #47A897, #4BA690);