@use 'src/styles/vars';

.register {
    width: 30%;
    margin: 4.5em auto ;

}
  
legend {
    font-size: large;
    font-weight: bold;
    color: vars.$Primary;
}

fieldset {
    border: 1px dashed gray;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
}
fieldset>div {
    width: 100%;
    padding: 5px;
}
label {
    margin-right: 0.5em;
}
div>label {
    width: 38%;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-size: small;
}
// label+input {
//     display: inline-block;
//     width: 60%;
// }
// .login-form {
//     width: 50%;
//   }
//   .login-form-element {
//     display: flex;
//     align-items: center;
//   }
//   .login-form-message {
//     text-align: right;
//     margin: .3em 1em;
//   }
//   .login-form-logged {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//   }
//   .login-form-button {
//     font-weight: 700;
//     font-size: 1em;
//     color: #fff;
//     background-color: #f17f42;
//     border-radius: .3em;
//     border: 0;
//     padding: .7em;
//     height: 2.5em;
//   }