@use 'src/styles/vars';
.cgu {
    margin: 1em ;
    text-align: justify;
    background-color: vars.$Linear-gradient;
    margin: 0 auto ;
    width: 70%;

    &_title3, &_title2{ 
        margin: 1em;
        font-weight: vars.$Dark ;
    }
    &_text {
        margin: 1em;
        font-size: 1.2em;
    }

    &_title2{
        font-size: 1.2em;
    }
}

// h1,h2,h3,h4 {
//     margin: 0.5em;
// }
// p {
//     margin: 0.7em;
//     line-height: 1.5em;
// }