@use 'src/styles/vars';
.error {  
    height: 45em;
   display: flex;
   flex-direction: column;
   background-color: vars.$Linear-gradient;

   &_picture {
        margin : auto ;
    }

    &_message {
        color: vars.$Dark;
        margin : auto ;
        font-size: 2.5em;
    }
}
